.list {
    background-color: #ecebeb;
    padding: 1px;


    ul {
        list-style: none;
        padding: 0;
    }

    li {
        display: inline;
        padding: 10px;
        background-color: #ecebeb;
        border: 1px solid #d2d2d2;

        &:hover {
            background-color: lightgray;
        }
    }
}