.list {
    background-color: #ecebeb;
    padding: 1px;
}

ul {
    float: left;
    list-style: none;
    padding: 0;
}

li {
    display: inline;
    padding: 10px;
    background-color: #ecebeb;
    border: 1px solid #d2d2d2;

    &:hover {
        background-color: lightgray;
    }
}

p {
    float: right;
    margin-right: 1em;
}

.clear-fix {
    clear: both;
}