  <!-- <div class="wrapper">
    <div class="list">
      <ul>
        <li *ngFor="let listItem of listItems; let i = index" (click)="changeSelectedRow(i)">
          {{ listItem }}
        </li>
      </ul>
    </div>
  
    <div class="form">
      <form novalidate (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
        <div *ngFor="let prop of objProps">
            <label>{{ prop.label }}</label>
    
            <div [ngSwitch]="true">
              <input *ngSwitchCase="prop.type === 'text' || prop.type === 'number' || prop.type === 'email' || prop.type === 'date'" [type]="prop.type" [formControlName]="prop.key">
              
              <select *ngSwitchCase="prop.type === 'select'" [formControlName]="prop.key">
                  <option *ngFor="let option of prop.children" [value]="option.value">
                    {{ option.label }}
                  </option>
              </select>

              <img *ngSwitchCase="prop.type === 'image'" [src]="prop.image">
            </div>    
        </div>
    
        <p>
          <button type="submit">Save</button>
        </p>
      </form>
    </div>
  </div> -->


<h1>FORM PAGE</h1>

{{ data }}